PORT=3000
REDIS_URL=redis://localhost:6379
TEMPORAL_ADDRESS=localhost:7233
TEMPORAL_NAMESPACE=default
TEMPORAL_TASK_QUEUE=hotel-task-queue
SUPPLIER_A_URL=http://localhost:3000/supplierA/hotels
SUPPLIER_B_URL=http://localhost:3000/supplierB/hotels
